{% extends "layout.html" %}
{% set bodyAttributes = { id: "assess" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}


{% include "includes/status-mvp/split-screen-nav.html" %}


<main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
  <div id="recoLeftPane" class="govuk-grid-column-two-fifths reco-scrollable-wrapper">
   <h1 class="govuk-heading-l">Evidence</h1>

 

  

            <form action="assessment-status" method="post">             

              <!-- {% set PrescriptionHtml %}
              {{ govukInput({
                id: "Prescription-date",
                name: "Prescription-date",
                type: "Date",
                autocomplete: "Date",
                spellcheck: false,
                classes: "govuk-!-width-one-third",
                label: {
                  text: "Date of prescription"
                }
              }) }}
              {% endset -%} -->


              {% set questionaireHtml %}
              {{ govukInput({
                id: "questionaire-date",
                name: "questionaire-date",
                autocomplete: "Date",
                spellcheck: false,
                classes: "govuk-!-width-one-third",
                label: {
                  text: "Date of claimant questionaire"
                }
              }) }}
              {% endset -%}

              {% set FitNoteHtml %}
              {{ govukInput({
                id: "fitnote-date",
                name: "firnote-date",
                autocomplete: "Date",
                spellcheck: false,
                classes: "govuk-!-width-one-third",
                label: {
                  text: "Date of fit note"
                }
              }) }}
              {% endset -%}

              {% set PrescriptionHtml %}
              {{ govukInput({
                id: "Prescription-date",
                name: "Prescription-date",
                autocomplete: "Date",
                spellcheck: false,
                classes: "govuk-!-width-one-third",
                label: {
                  text: "Date of prescription"
                }
              }) }}
              {% endset -%}

              {% set careplanHtml %}
              {{ govukInput({
                id: "careplan-date",
                name: "careplan-date",
                autocomplete: "Date",
                spellcheck: false,
                classes: "govuk-!-width-one-third",
                label: {
                  text: "Date of care plan"
                }
              }) }}
              {% endset -%}

              {% set gphealthrecordHtml %}
              {{ govukInput({
                id: "gphealthrecord-date",
                name: "gphealthrecord-date",
                autocomplete: "Date",
                spellcheck: false,
                classes: "govuk-!-width-one-third",
                label: {
                  text: "Date of GP health record"
                }
              }) }}
              {% endset -%}

              {% set gpletterHtml %}
              {{ govukInput({
                id: "gpletter-date",
                name: "gpletter-date",
                autocomplete: "Date",
                spellcheck: false,
                classes: "govuk-!-width-one-third",
                label: {
                  text: "Date of GP letter"
                }
              }) }}
              {% endset -%}

              {% set gpfactualreportHtml %}
              {{ govukInput({
                id: "gpfactualreport-date",
                name: "gpfactualreport-date",
                autocomplete: "Date",
                spellcheck: false,
                classes: "govuk-!-width-one-third",
                label: {
                  text: "Date of GP factual report"
                }
              }) }}
              {% endset -%}

              {% set gppatientformHtml %}
              {{ govukInput({
                id: "gppatientform-date",
                name: "gppatientform-date",
                autocomplete: "Date",
                spellcheck: false,
                classes: "govuk-!-width-one-third",
                label: {
                  text: "Date of GP factual report"
                }
              }) }}
              {% endset -%}

              {% set factualMedicalReportHtml %}
              {{ govukInput({
                id: "factualMedicalReport-date",
                name: "factualMedicalReport-date",
                autocomplete: "Date",
                spellcheck: false,
                classes: "govuk-!-width-one-third",
                label: {
                  text: "Date of factual medical report"
                }
              }) }}
              {% endset -%}

              {% set HPfactualreportHtml %}
              {{ govukInput({
                id: "HPfactualreport-date",
                name: "HPfactualreport-date",
                autocomplete: "Date",
                spellcheck: false,
                classes: "govuk-!-width-one-third",
                label: {
                  text: "Date of Healthcare professional factual report"
                }
              }) }}
              {% endset -%}

              {% set phoneCallHtml %}
              {{ govukInput({
                id: "phoneCall-date",
                name: "phoneCall-date",
                autocomplete: "Date",
                spellcheck: false,
                classes: "govuk-!-width-one-third",
                label: {
                  text: "Date of phone call"
                }
              }) }}
              {% endset -%}

              {% set hospitalLetterHtml %}
              {{ govukInput({
                id: "hospitalLetter-date",
                name: "hospitalLetter-date",
                autocomplete: "Date",
                spellcheck: false,
                classes: "govuk-!-width-one-third",
                label: {
                  text: "Date of letter"
                }
              }) }}
              {% endset -%}

              {% set consultantLetterHtml %}
              {{ govukInput({
                id: "consultantLetter-date",
                name: "consultantLetter-date",
                autocomplete: "Date",
                spellcheck: false,
                classes: "govuk-!-width-one-third",
                label: {
                  text: "Date of consultant letter or report"
                }
              }) }}
              {% endset -%}

              {% set FactualMedHtml %}
              {{ govukInput({
                id: "FactualMed-date",
                name: "FactualMed-date",
                autocomplete: "Date",
                spellcheck: false,
                classes: "govuk-!-width-one-third",
                label: {
                  text: "Date of factual medical report"
                }
              }) }}
              {% endset -%}

              {% set SpecialistLetterHtml %}
              {{ govukInput({
                id: "SpecialistLetter-date",
                name: "SpecialistLetter-date",
                autocomplete: "Date",
                spellcheck: false,
                classes: "govuk-!-width-one-third",
                label: {
                  text: "Date of specialist letter or report"
                }
              }) }}
              {% endset -%}

              {% set alliedHealthHtml %}
              {{ govukInput({
                id: "alliedHealth-date",
                name: "alliedHealth-date",
                autocomplete: "Date",
                spellcheck: false,
                classes: "govuk-!-width-one-third",
                label: {
                  text: "Date of allied health professional's letter or report"
                }
              }) }}
              {% endset -%}

              {% set RadiologyHtml %}
              {{ govukInput({
                id: "Radiology-date",
                name: "Radiology-date",
                autocomplete: "Date",
                spellcheck: false,
                classes: "govuk-!-width-one-third",
                label: {
                  text: "Date of radiology and investigative report"
                }
              }) }}
              {% endset -%}


            

              {{ govukCheckboxes({
                name: "evidenceusedpip",
                classes: "govuk-checkboxes--small",
                fieldset: {
                  legend: {
                    text: "Evidence used",
                    isPageHeading: false,
                    classes: "govuk-fieldset__legend--s"
                  }
                },
                values: data.evidenceusedpip,
                items: [
                  {
                    value: "Claimant questionnaire",
                    text: "Claimant questionnaire",
                    checked: data.evidenceusedpip and 'Claimant questionnaire' in data.evidenceusedpip,
                    conditional: {
                      html: questionaireHtml
                    }
                  },
                  {
                    value: "Fit note",
                    text: "Fit note",
                    checked: data.evidenceusedpip and 'Fit note' in data.evidenceusedpip,
                    conditional: {
                      html: FitNoteHtml
                    }
                  },
                  {
                    value: "Prescription or medication list",
                    text: "Prescription or medication list",
                    checked: data.evidenceusedpip and 'Prescription or medication list' in data.evidenceusedpip,
                    conditional: {
                      html: PrescriptionHtml
                    }
                  },
                  {
                    value: "Care plan",
                    text: "Care plan",
                    checked: data.evidenceusedpip and 'Care plan' in data.evidenceusedpip,
                    conditional: {
                      html: careplanHtml
                    }
                  },
                  {
                    value: "GP health record",
                    text: "GP health record",
                    checked: data.evidenceusedpip and 'GP health record' in data.evidenceusedpip,
                    conditional: {
                      html:  gphealthrecordHtml
                    }
                  },
                  {
                    value: "GP letter",
                    text: "GP letter",
                    checked: data.evidenceusedpip and 'GP letter' in data.evidenceusedpip,
                    conditional: {
                      html:  gpletterHtml
                    }  
                  },
                  {
                    value: "GP factual report (GPFR)",
                    text: "GP factual report (GPFR)",
                    checked: data.evidenceusedpip and 'GP factual report (GPFR)' in data.evidenceusedpip,
                    conditional: {
                      html:  gpfactualreportHtml
                    } 
                  },
                  {
                    value: "GP patient form (113)",
                    text: "GP patient form (113)",
                    checked: data.evidenceusedpip and 'GP patient form (113)' in data.evidenceusedpip,
                    conditional: {
                      html:  gppatientformHtml
                    } 
                  },
                  {
                    value: "Factual medical report (FRR2)",
                    text: "Factual medical report (FRR2)",
                    checked: data.evidenceusedpip and 'Factual medical report (FRR2)' in data.evidenceusedpip,
                    conditional: {
                      html:  factualMedicalReportHtml
                    } 
                  },
                  {
                    value: "Healthcare professional factual report (FRR3)",
                    text: "Healthcare professional factual report (FRR3)",
                    checked: data.evidenceusedpip and 'Healthcare professional factual report (FRR3)' in data.evidenceusedpip,
                    conditional: {
                      html:  FactualMedHtml
                    } 
                  },
                  {
                    value: "Phone call (FRR4)",
                    text: "Phone call (FRR4)",
                    checked: data.evidenceusedpip and 'Phone call (FRR4)' in data.evidenceusedpip,
                    conditional: {
                      html:  phoneCallHtml
                    } 
                  },
                  {
                    value: "Hospital letter, report or discharge summary",
                    text: "Hospital letter, report or discharge summary",
                    checked: data.evidenceusedpip and 'Hospital letter, report or discharge summary' in data.evidenceusedpip,
                    conditional: {
                    html:  hospitalLetterHtml
                  } 
                },
                  {
                    value: "Consultant letter or report",
                    text: "Consultant letter or report",
                    checked: data.evidenceusedpip and 'Consultant letter or report' in data.evidenceusedpip,
                    conditional: {
                      html:  consultantLetterHtml
                    } 
                  },
                  {
                    value: "Factual medical report (FRR2)",
                    text: "Factual medical report (FRR2)",
                    checked: data.evidenceusedpip and 'Factual medical report (FRR2)' in data.evidenceusedpip,
                    conditional: {
                      html:  FactualMedHtml
                    } 
                  },
                  {
                    value: "Specialist letter or report",
                    text: "Specialist letter or report",
                    checked: data.evidenceusedpip and 'Specialist letter or report' in data.evidenceusedpip,
                    conditional: {
                      html:  SpecialistLetterHtml
                    } 
                  },
                  {
                    value: "Allied heath professional's letter or report",
                    text: "Allied heath professional's letter or report",
                    checked: data.evidenceusedpip and "Allied heath professional's letter or report" in data.evidenceusedpip,
                    conditional: {
                      html:  alliedHealthHtml
                    } 
                  },
                  {
                    value: "Radiology and investigative reports",
                    text: "Radiology and investigative reports",
                    checked: data.evidenceusedpip and 'Radiology and investigative reports' in data.evidenceusedpip,
                    conditional: {
                      html:  RadiologyHtml
                    } 
                  }
                ]
              }) }}

              {{ govukTextarea({
                name: "other-evidence",
                id: "other-evidence",
                rows: "4",
                label: {
                  text: "Other evidence used",
                  classes: "govuk-label--s",
                  isPageHeading: false
                },
                value: data['other-evidence']
                
              }) }}




              {{ govukCheckboxes({
                name: "evidence-requested-not-returned",
                classes: "govuk-checkboxes--small",
                fieldset: {
                  legend: {
                    text: "Evidence requested but not returned",
                    isPageHeading: false,
                    classes: "govuk-fieldset__legend--s"
                  }
                },
                items: [
                  {
                    value: "Claimant questionnaire",
                    text: "Claimant questionnaire",
                    checked: data['evidence-requested-not-returned'] and 'Claimant questionnaire' in data['evidence-requested-not-returned']
                  },
                  {
                    value: "GP patient form (113s)",
                    text: "GP patient form (113)",
                    checked: data['evidence-requested-not-returned'] and 'GP patient form (113s)' in data['evidence-requested-not-returned']
                  },
                  {
                    value: "Factual medical report (FRR2)",
                    text: "Factual medical report (FRR2)",
                    checked: data['evidence-requested-not-returned'] and 'Factual medical report (FRR2)' in data['evidence-requested-not-returned']
                  },
                  {
                    value: "Healthcare professional factual medical report (FRR3)",
                    text: "Healthcare professional factual medical report (FRR3)",
                    checked: data['evidence-requested-not-returned'] and 'Healthcare professional factual medical report (FRR3)' in data['evidence-requested-not-returned']
                  }
                  ]
                }) }}

                {{ govukTextarea({
                  name: "other-evidence-not-returned",
                  id: "other-evidence-not-returned",
                  rows: "4",
                  label: {
                    text: "Other evidence requested but not returned",
                    classes: "govuk-label--s",
                    isPageHeading: false
                  },
                  value: data['other-evidence-not-returned']
                  
                }) }}
                      <!-- {{ govukButton({
                        text: "Save and continue"
                      }) }} -->

            </form>



          </div>

          
          <div id="recoRightPane" class="govuk-grid-column-two-fifths">
            <div id="recoBuilderFrame" class="reco-builder-frame  reco-scrollable-wrapper" data-url="claimant-documents-buttons">
              &nbsp;
            </div>
           </div>
    </div>
  </main>
  </div>
{% endblock %}