
<div class="govuk-grid-column-one-quarter">
<nav class="moj-side-navigation" aria-label="Side navigation">
<ul class="moj-side-navigation__list">

    <li class="moj-side-navigation__item moj-side-navigation__item--active">
        <a href="evidence-used">Evidence</a>
    </li>
    <li class="moj-side-navigation__item">
        <a href="historyofcondition" aria-current="location">History of condiition</a>
    </li>
    <li class="moj-side-navigation__item">
        <a href="preparingfood">Preparing food</a>
    </li>
    <li class="moj-side-navigation__item">
        <a href="takingnutrition">Taking nutrition</a>
    </li>
    <li class="moj-side-navigation__item">
        <a href="managingtherapy">Managing therapy</a>
    </li>
    <li class="moj-side-navigation__item">
        <a href="washingbathing">Washing and bathing</a>
    </li>
    <li class="moj-side-navigation__item">
        <a href="toiletneeds">Managing toilet needs</a>
    </li>
    <li class="moj-side-navigation__item">
        <a href="dressing">Dressing and undressing</a>
    </li>
    <li class="moj-side-navigation__item">
        <a href="communicatingverbally">communication verbally</a>
    </li>
    <li class="moj-side-navigation__item">
        <a href="readingunderstanding">Reading and understanding signs, symbols and words</a>
    </li>
    <li class="moj-side-navigation__item">
        <a href="facetoface">Engaging face to face</a>
    </li>
    <li class="moj-side-navigation__item">
        <a href="budgeting">Budgeting</a>
    </li>
    <li class="moj-side-navigation__item">
        <a href="dailyliving">Daily living qualifying period and prospective test</a>
    </li>
    <li class="moj-side-navigation__item">
        <a href="journeys">Planning and following journeys</a>
    </li>
    <li class="moj-side-navigation__item">
        <a href="movingaround">Moving around</a>
    </li>
    <li class="moj-side-navigation__item">
        <a href="mobility">Mobility qualitfying period and prospective test</a>
    </li>
    <li class="moj-side-navigation__item">
        <a href="recommend">Reason for recommendation</a>
    </li>
    <li class="moj-side-navigation__item">
        <a href="review">Review period for PIP</a>
    </li>
   
   </ul>
</nav>
</div>





<!-- 

    <nav class="moj-side-navigation" aria-label="Side navigation">
         <ul class="moj-side-navigation__list">
          <li class="moj-side-navigation__item">
            <a href="condition-one" aria-current="location">Diabetes</a>
          </li>
          <li class="moj-side-navigation__item moj-side-navigation__item--active">
            <a href="condition-two">Prostate cancer</a>
          </li>
          <li class="moj-side-navigation__item">
            <a href="condition-three">Angina</a>
          </li>
          <li class="moj-side-navigation__item">
            <a href="condition-four">COPD</a>
          </li>
          <li class="moj-side-navigation__item">
            <a href="condition-five">Blood pressure</a>
          </li>
          <li class="moj-side-navigation__item">
            <a href="condition-six">Incontinence</a>
          </li>
          <li class="moj-side-navigation__item">
            <a href="condition-seven">Irregular heartbeat</a>
          </li>
          <li class="moj-side-navigation__item">
            <a href="condition-eight">Hot flushes</a>
          </li>
        </ul>
    </nav> -->
