{% extends "layout.html" %}
{% set bodyAttributes = { id: "assess" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

{% include "includes/pip-assessment-withtabs.html" %}


     
    <div class="govuk-width-container {{ containerClasses }}">
    <div class="govuk-grid-row">
 

   
      {% include "includes/side-navigation.html" %}

 
 
  <div class="govuk-grid-column-three-quarters">

    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
   


      

              

            <form action="assessment-status" method="post">

                    {{ govukTextarea({
                        name: "mentalstate",
                        id: "mentalstate",
                        rows: "12",
                        label: {
                          text: "Mental state",
                          classes: "govuk-label--l",
                          isPageHeading: true
                        },
                        value: data['mentalstate']
                      }) }}

                      <!-- {{ govukButton({
                        text: "Save"
                      }) }} -->

            </form>

              

            </div>
        </div>

    </main>
  </div>
</div>
{% endblock %}
