<section class="key-details-bar" role="contentinfo" aria-label="Key details">
    <dl class="key-details-bar__key-details {{ containerClasses }}">
      <div class="key-details-bar__top-block">
        <dt class="govuk-visually-hidden">Name:</dt>
        <dt class="key-details-bar__name">Miss Luisa Lockhart</dt>
  
        <dt class="govuk-visually-hidden">National Insurance number:</dt>
        <dt class="key-details-bar__nino">RN 65 43 21 X</dt>
      </div>
  
      <div class="key-details-bar__bottom-block">
        <dt>Date of birth:</dt>
        <dd>31 December 1980</dd>
      </div>
    </dl>
  </section>
  
  
  
  <div class="reco-nav-wrapper">
    <div class="govuk-width-container {{ containerClasses }}">
        <div class="govuk-grid-row">
            <!-- one -->
            <div class="govuk-grid-column-one-quarter">
                <div class="moj-primary-navigation">
                    <div class="moj-primary-navigation__container">
                        <div class="moj-primary-navigation__nav">
                            <nav class="moj-primary-navigation" aria-label="Primary navigation">
                            <ul class="moj-primary-navigation__list">
                                <li class="moj-primary-navigation__item">

                                    <a class="moj-primary-navigation__link" aria-current="page" href="{{ data.recentPages.combined | default('evidence-used')}}">Assessment</a>
                                </li>
                                <li class="moj-primary-navigation__item">
                                    <a class="moj-primary-navigation__link"  href="check1">Check answers</a>
                                    </li>
                            </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- two -->
            <div class="govuk-grid-column-one-quarter">
                &nbsp;
            </div>
            <!-- three -->
            <div class="govuk-grid-column-one-third">
                <div class="moj-primary-navigation">
                    <div class="moj-primary-navigation__container">
                        <div class="moj-primary-navigation__nav">
                            <nav class="moj-primary-navigation" aria-label="Primary navigation">
                            <ul class="moj-primary-navigation__list">
                                <li class="moj-primary-navigation__item">
                                    <a class="moj-primary-navigation__link reco-builder-page-link popup"  href="claimant-documents-buttons">Claimant documents</a>
                                    </li>
                                <li class="moj-primary-navigation__item">
                                <a class="moj-primary-navigation__link reco-builder-page-link"  href="check">Preview report</a>
                                </li>
                                
                            </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  
  
  
     <div class="govuk-width-container {{ containerClasses }}">
      <div class="govuk-grid-row">
  
     <div class="govuk-grid-column-one-fifth">
      <nav class="moj-side-navigation" aria-label="Side navigation">
    
        <input type="hidden" name="previousDocument" id="previousDocument" value="{{ data.openDocument }}">

        <ul class="moj-side-navigation__list">
      
          <li class="moj-side-navigation__item">
      
              <a href="assessment-type" aria-current="location">< Back to Assessment type</a>
      
          </li>
           
          </ul>

        <h4 class="moj-side-navigation__title">History</h4>
        <ul class="moj-side-navigation__list">
       
          <li class="moj-side-navigation__item {% if activeUrl === 'evidence-used' %}moj-side-navigation__item--active{% endif %}">
    
            <a href="evidence-used">Evidence</a>
    
        </li>
    
        <li class="moj-side-navigation__item {% if activeUrl === 'historyofcondition' %}moj-side-navigation__item--active{% endif %}">
    
            <a href="historyofcondition" aria-current="location">History of condition</a>
    
        </li>
         
        </ul>
  
  
  
        <h4 class="moj-side-navigation__title">Daily living</h4>
        <ul class="moj-side-navigation__list">
        
          
          <li class="moj-side-navigation__item {% if activeUrl === 'preparingfood' %}moj-side-navigation__item--active{% endif %}">
  
            <a href="preparingfood">Preparing food</a>
  
        </li>
  
        <li class="moj-side-navigation__item {% if activeUrl === 'takingnutrition' %}moj-side-navigation__item--active{% endif %}">
  
            <a href="takingnutrition">Taking nutrition</a>
  
        </li>
  
        <li class="moj-side-navigation__item {% if activeUrl === 'managingtherapy' %}moj-side-navigation__item--active{% endif %}">
  
            <a href="managingtherapy">Managing therapy</a>
  
        </li>
  
        <li class="moj-side-navigation__item {% if activeUrl === 'washingbathing' %}moj-side-navigation__item--active{% endif %}">
  
            <a href="washingbathing">Washing and bathing</a>
  
        </li>
  
        <li class="moj-side-navigation__item {% if activeUrl === 'toiletneeds' %}moj-side-navigation__item--active{% endif %}">
  
            <a href="toiletneeds">Managing toilet needs</a>
  
        </li>
  
        <li class="moj-side-navigation__item {% if activeUrl === 'dressing' %}moj-side-navigation__item--active{% endif %}">
  
            <a href="dressing">Dressing and undressing</a>
            <li class="moj-side-navigation__item {% if activeUrl === 'communicatingverbally' %}moj-side-navigation__item--active{% endif %}">
  
              <a href="communicatingverbally">Communication verbally</a>
  
          </li>
  
          <li class="moj-side-navigation__item {% if activeUrl === 'readingunderstanding' %}moj-side-navigation__item--active{% endif %}">
  
              <a href="readingunderstanding">Reading and understanding signs, symbols and words</a>
  
          </li>
  
          <li class="moj-side-navigation__item {% if activeUrl === 'facetoface' %}moj-side-navigation__item--active{% endif %}">
  
              <a href="facetoface">Engaging face to face</a>
  
          </li>
  
          <li class="moj-side-navigation__item {% if activeUrl === 'budgeting' %}moj-side-navigation__item--active{% endif %}">
  
              <a href="budgeting">Budgeting</a>
  
          </li>
  
         
        </ul>
    
        <h4 class="moj-side-navigation__title">Mobility</h4>
        <ul class="moj-side-navigation__list">
          <li class="moj-side-navigation__item {% if activeUrl === 'journeys' %}moj-side-navigation__item--active{% endif %}">
  
            <a href="journeys">Planning and following journeys</a>
  
        </li>
  
        <li class="moj-side-navigation__item {% if activeUrl === 'movingaround' %}moj-side-navigation__item--active{% endif %}">
  
            <a href="movingaround">Moving around</a>
  
        </li>
           
           
         
         </ul>
  
  
  
  
    
        <h4 class="moj-side-navigation__title">Review</h4>
        <ul class="moj-side-navigation__list">
          <li class="moj-side-navigation__item {% if activeUrl === 'dailyliving' %}moj-side-navigation__item--active{% endif %}">
    
            <a href="dailyliving">Daily living qualifying period and prospective test</a>
      
        </li>
      
          <li class="moj-side-navigation__item {% if activeUrl === 'mobility' %}moj-side-navigation__item--active{% endif %}">
      
            <a href="mobility">Mobility qualifying period and prospective test</a>
      
        </li>
      
        <li class="moj-side-navigation__item {% if activeUrl === 'recommend' %}moj-side-navigation__item--active{% endif %}">
      
            <a href="recommend">Reason for recommendation</a>
      
        </li>
      
        <li class="moj-side-navigation__item {% if activeUrl === 'review' %}moj-side-navigation__item--active{% endif %}">
      
            <a href="review">Review period for PIP</a>
      
        </li>
           
           
         </ul>
      </nav>
      </div>