{% extends "layout.html" %}
{% set bodyAttributes = { id: "assess" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

{% include "includes/assessment-status-neutral.html" %}

  <div class="govuk-width-container {{ containerClasses }}">

      <!-- {{ govukBackLink({
        text: "Back",
        href: "assessment-status"
      }) }} -->

      {{ govukBackLink({
        text: "Back",
        href: "javascript:history.back()"
      }) }}

    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">



            <form action="assessment-status" method="post">


              <h1 class="govuk-heading-l">Condition history</h1>

              <h2 class="govuk-heading-m">Condition 1</h2>
              {{ govukInput({
                id: "attendeenamepip",
                name: "attendeenamepip",
                label: {
                  text: "Condition name"
                },
                value: data['attendeenamepip']
              }) }}


              {{ govukTextarea({
                name: "historyofcondition",
                id: "historyofcondition",
                rows: "6",
                label: {
                  text: "History of condition",
                 
                value: data['historyofcondition']}
                
              }) }}




              {{ govukInput({
                name: "attendeerelationshippip",
                id: "attendeerelationshippip",
                label: {
                  text: "Varability"
                },
                value: data['attendeerelationshippip']
              }) }}

      



              <hr class="govuk-!-margin-bottom-5">
<br>
              <p><a class="govuk-link" href="add-condition-two">Add another condition</a></p>
<br>

              {{ govukButton({
                text: "Save and continue"
              }) }}


            </form>


            </div>
        </div>

    </main>
  </div>
{% endblock %}
