{% extends "layout.html" %}
{% set bodyAttributes = { id: "assess" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

{% include "includes/assessment-status-neutral.html" %}

  <div class="govuk-width-container {{ containerClasses }}">

      <!-- {{ govukBackLink({
        text: "Back",
        href: "assessment-status"
      }) }} -->

      {{ govukBackLink({
        text: "Back",
        href: "javascript:history.back()"
      }) }}

    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">



            <form action="assessment-status" method="post">


              <h1 class="govuk-heading-l">Condition history</h1>

              <h2 class="govuk-heading-m">Condition 1 <a href="#" class="govuk-link govuk-!-font-size-19 app-task-list__tag govuk-!-font-weight-regular" id="list-convictions-status">Remove</a></h2></h2>
              {{ govukInput({
                id: "conditionname1pip",
                name: "conditionname1pip",
                label: {
                  text: "Condition name"
                },
                value: data['conditionname1pip']
              }) }}


              {{ govukTextarea({
                name: "conditionhistory1pip",
                id: "conditionhistory1pip",
                rows: "6",
                label: {
                  text: "History of condition"
                },
                 
                value: data['conditionhistory1pip']
                
              }) }}

              {{ govukTextarea({
                name: "conditionvarability1pip",
                id: "conditionvarability1pip",
                rows: "3",
                label: {
                  text: "Varability"
                },
                 
                value: data['conditionvarability1pip']
                
              }) }}



              <hr class="govuk-!-margin-bottom-5">

              <h2 class="govuk-heading-m">Condition 2 <a href="#" class="govuk-link govuk-!-font-size-19 app-task-list__tag govuk-!-font-weight-regular" id="list-convictions-status">Remove</a></h2></h2>
              {{ govukInput({
                id: "conditionname2pip",
                name: "conditionname2pip",
                label: {
                  text: "Condition name"
                },
                value: data['conditionname2pip']
              }) }}


              {{ govukTextarea({
                name: "conditionhistory2pip",
                id: "conditionhistory2pip",
                rows: "6",
                label: {
                  text: "History of condition"
                },
                 
                value: data['conditionhistory2pip']
                
              }) }}

              {{ govukTextarea({
                name: "conditionvarability2pip",
                id: "conditionvarability2pip",
                rows: "3",
                label: {
                  text: "Varability"
                },
                 
                value: data['conditionvarability2pip']
                
              }) }}

              <hr class="govuk-!-margin-bottom-5">

              <p><a class="govuk-link" href="#">Add another attendee</a></p>


              {{ govukButton({
                text: "Save and continue"
              }) }}


            </form>


            </div>
        </div>

    </main>
  </div>
{% endblock %}
