{% extends "layout.html" %}
{% set bodyAttributes = { id: "assess" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

{% include "includes/assessment-status-neutral.html" %}

  <div class="govuk-width-container {{ containerClasses }}">

    {{ govukBackLink({
      text: "Back",
      href: "assessment-status"
    }) }}

    <!-- {{ govukBackLink({
      text: "Go back to Check your answers",
      href: "javascript:history.back()"
    }) }} -->

    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">

              <h1 class="govuk-heading-l">Mobility recommendation</h1>

            <form action="assessment-status" method="post">

                    {{ govukTextarea({
                        name: "mobilityrecommendation",
                        id: "mobilityrecommendation",
                        rows: "8",
                        label: {
                          text: "Activites with reported restrictions",
                          classes: "govuk-label--s",
                          isPageHeading: false
                        },
                        value: data['mobilityrecommendation']
                        
                      }) }}

                      {{ govukTextarea({
                        name: "mobilityrecommendation2",
                        id: "mobilityrecommendation2",
                        rows: "8",
                        label: {
                          text: "Reasons for the chosen descriptors",
                          classes: "govuk-label--s",
                          isPageHeading: false
                        },
                        value: data['mobilityrecommendation2']
                        
                      }) }}


                      {{ govukTextarea({
                        name: "mobilityrecommendation3",
                        id: "mobilityrecommendation3",
                        rows: "8",
                        label: {
                          text: "Other descriptors that were considered",
                          classes: "govuk-label--s",
                          isPageHeading: false
                        },
                        value: data['mobilityrecommendation3']
                        
                      }) }}

                      {{ govukTextarea({
                        name: "mobilityrecommendation4",
                        id: "mobilityrecommendation4",
                        rows: "8",
                        label: {
                          text: "Descriptors that weren't chosen and why",
                          classes: "govuk-label--s",
                          isPageHeading: false
                        },
                        value: data['mobilityrecommendation4']
                        
                      }) }}



                      {{ govukButton({
                        text: "Save and continue"
                      }) }}

            </form>



              

            </div>
        </div>

    </main>
  </div>
{% endblock %}
