{% extends "layout.html" %}
{% set bodyAttributes = { id: "assess" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}


{% include "includes/status2/pip-assessment-claimant.html" %}


 
 
  <div class="govuk-grid-column-three-quarters">

    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
   


      


            <form action="check" method="post">

                    {{ govukTextarea({
                        name: "historyofcondition",
                        id: "historyofcondition",
                        rows: "12",
                        label: {
                          text: "History of condition",
                          classes: "govuk-label--l",
                          isPageHeading: true
                        },
                        value: data['historyofcondition']
                        
                      }) }}

                      {{ govukButton({
                        text: "Return to draft report"
                      }) }}

            </form>



              

          </div>
       

    </main>
  </div>
</div>
{% endblock %}
