{% extends "layout.html" %}
{% set bodyAttributes = { id: "assess" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

{% include "includes/status/pip-assessment-documents.html" %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
   



              <h1 class="govuk-heading-l">Claimant documents</h1>

              <a id="newWindow" href="claimant-documents-buttons" target="_blank">Claimant documents will open in a new window</a>   
              <!-- <a href="claimant-documents-buttons" target="_blank">Claimant documents will open in a new window</a> -->

<!-- {{ govukButton({
  text: "Save and continue"
}) }} -->
</div>
</main>
</div>
</div>





{% endblock %}
