{% extends "layout.html" %}
{% set bodyAttributes = { id: "assess" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}


{% include "includes/status-htl-1659/split-screen-nav.html" %}

<main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
  <div id="recoLeftPane" class="govuk-grid-column-two-fifths reco-scrollable-wrapper1">
   <h1 class="govuk-heading-l">Evidence</h1>

 
               

            <form action="assessment-status" method="post">             

           

              {{ govukCheckboxes({
                name: "evidenceusedpip",
                classes: "govuk-checkboxes--small",
                fieldset: {
                  legend: {
                    text: "Evidence used",
                    isPageHeading: false,
                    classes: "govuk-fieldset__legend--s"
                  }
                },
                values: data.evidenceusedpip,
                items: [
                  {
                    value: "Claimant questionnaire",
                    text: "Claimant questionnaire",
                    checked: data.evidenceusedpip and 'Claimant questionnaire' in data.evidenceusedpip
                  },
                  {
                    value: "Fit note",
                    text: "Fit note",
                    checked: data.evidenceusedpip and 'Fit note' in data.evidenceusedpip
                  },
                  {
                    value: "Prescription",
                    text: "Prescription",
                    checked: data.evidenceusedpip and 'Prescription' in data.evidenceusedpip
                  },
                  {
                    value: "Care plan",
                    text: "Care plan",
                    checked: data.evidenceusedpip and 'Care plan' in data.evidenceusedpip
                  },
                  {
                    value: "GP health record",
                    text: "GP health record",
                    checked: data.evidenceusedpip and 'GP health record' in data.evidenceusedpip
                  },
                  {
                    value: "GP letter",
                    text: "GP letter",
                    checked: data.evidenceusedpip and 'GP letter' in data.evidenceusedpip
                  },
                  {
                    value: "GP factual report (GPFR)",
                    text: "GP factual report (GPFR)",
                    checked: data.evidenceusedpip and 'GP factual report (GPFR)' in data.evidenceusedpip
                  },
                  {
                    value: "GP patient form (113)",
                    text: "GP patient form (113)",
                    checked: data.evidenceusedpip and 'GP patient form (113)' in data.evidenceusedpip
                  },
                  {
                    value: "Factual medical report (FRR2)",
                    text: "Factual medical report (FRR2)",
                    checked: data.evidenceusedpip and 'Factual medical report (FRR2)' in data.evidenceusedpip
                  },
                  {
                    value: "Healthcare professional factual report (FRR3)",
                    text: "Healthcare professional factual report (FRR3)",
                    checked: data.evidenceusedpip and 'Healthcare professional factual report (FRR3)' in data.evidenceusedpip
                  },
                  {
                    value: "Phone call (FRR4)",
                    text: "Phone call (FRR4)",
                    checked: data.evidenceusedpip and 'Phone call (FRR4)' in data.evidenceusedpip
                  },
                  {
                    value: "Hospital letter, report or discharge summary",
                    text: "Hospital letter, report or discharge summary",
                    checked: data.evidenceusedpip and 'Hospital letter, report or discharge summary' in data.evidenceusedpip
                  },
                  {
                    value: "Consultant letter or report",
                    text: "Consultant letter or report",
                    checked: data.evidenceusedpip and 'Consultant letter or report' in data.evidenceusedpip
                  },
                  {
                    value: "Factual medical report (FRR2)",
                    text: "Factual medical report (FRR2)",
                    checked: data.evidenceusedpip and 'Factual medical report (FRR2)' in data.evidenceusedpip
                  },
                  {
                    value: "Specialist letter or report",
                    text: "Specialist letter or report",
                    checked: data.evidenceusedpip and 'Specialist letter or report' in data.evidenceusedpip
                  },
                  {
                    value: "Allied heath professional's letter or report",
                    text: "Allied heath professional's letter or report",
                    checked: data.evidenceusedpip and "Allied heath professional's letter or report" in data.evidenceusedpip
                  },
                  {
                    value: "Radiology and investigative reports",
                    text: "Radiology and investigative reports",
                    checked: data.evidenceusedpip and 'Radiology and investigative reports' in data.evidenceusedpip
                  }
                ]
              }) }}

              {{ govukTextarea({
                name: "other-evidence",
                id: "other-evidence",
                rows: "4",
                label: {
                  text: "Other evidence used",
                  classes: "govuk-label--s",
                  isPageHeading: false
                },
                value: data['other-evidence']
                
              }) }}




              {{ govukCheckboxes({
                name: "evidence-requested-not-returned",
                classes: "govuk-checkboxes--small",
                fieldset: {
                  legend: {
                    text: "Evidence requested but not returned",
                    isPageHeading: false,
                    classes: "govuk-fieldset__legend--s"
                  }
                },
                items: [
                  {
                    value: "Claimant questionnaire",
                    text: "Claimant questionnaire",
                    checked: data['evidence-requested-not-returned'] and 'Claimant questionnaire' in data['evidence-requested-not-returned']
                  },
                  {
                    value: "GP patient form (113s)",
                    text: "GP patient form (113)",
                    checked: data['evidence-requested-not-returned'] and 'GP patient form (113s)' in data['evidence-requested-not-returned']
                  },
                  {
                    value: "Factual medical report (FRR2)",
                    text: "Factual medical report (FRR2)",
                    checked: data['evidence-requested-not-returned'] and 'Factual medical report (FRR2)' in data['evidence-requested-not-returned']
                  },
                  {
                    value: "Healthcare professional factual medical report (FRR3)",
                    text: "Healthcare professional factual medical report (FRR3)",
                    checked: data['evidence-requested-not-returned'] and 'Healthcare professional factual medical report (FRR3)' in data['evidence-requested-not-returned']
                  }
                  ]
                }) }}

                {{ govukTextarea({
                  name: "other-evidence-not-returned",
                  id: "other-evidence-not-returned",
                  rows: "4",
                  label: {
                    text: "Other evidence requested but not returned",
                    classes: "govuk-label--s",
                    isPageHeading: false
                  },
                  value: data['other-evidence-not-returned']
                  
                }) }}
                      <!-- {{ govukButton({
                        text: "Save and continue"
                      }) }} -->

            </form>



          </div>

          
          <div id="recoRightPane" class="govuk-grid-column-two-fifths">
            <div id="recoBuilderFrame" class="reco-builder-frame  reco-scrollable-wrapper1" data-url="claimant-documents-buttons">
              &nbsp;
            </div>
           </div>
    </div>
  </main>
  </div>
{% endblock %}