{% extends "layout.html" %}
{% set bodyAttributes = { id: "assess" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

{% include "includes/status-htl-1659/split-screen-nav.html" %}

<main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
  <div id="recoLeftPane" class="govuk-grid-column-two-fifths reco-scrollable-wrapper">
   <h1 class="govuk-heading-l">What is the reason for your recommendation?    <span><img id="recoLeftIcon" class="reco-toggle-icon reco-hidden" src="{{ asset_path }}images/arrow-left.png" alt="contract side pane" width="50" height="50"><img id="recoRightIcon" class="reco-toggle-icon" src="{{ asset_path }}/images/arrow-right.png" alt="expand side pane" width="45" height="45"></span></h1>
     
              

            <form action="assessment-status" method="post">

                    {{ govukTextarea({
                        name: "recommendation",
                        id: "recommendation",
                        rows: "12",
                        label: {
                          text: "",
                          classes: "govuk-label--l",
                          isPageHeading: true
                        },
                        value: data['recommendation']
                      }) }}

                      <!-- {{ govukButton({
                        text: "Save and continue"
                      }) }} -->

                    </form>


                  </div>
                  <div id="recoRightPane" class="govuk-grid-column-two-fifths">
                    <div id="recoBuilderFrame" class="reco-builder-frame  reco-scrollable-wrapper" data-url="claimant-documents-buttons">
                      &nbsp;
                    </div>
                   </div>
            </div>
          </main>
          </div>
{% endblock %}
