{% extends "layout.html" %}
{% set bodyAttributes = { id: "home" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

<br>

<div class="govuk-width-container {{ containerClasses }} govuk-!-margin-bottom-9">

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-three-quarters">

      <!--  <h2 class="govuk-heading-l" id="next-release">Next release</h2>
      <p class="govuk-body-l">These prototypes are for testing the next release of the Health Assessment Service.</p>


      <hr class="govuk-!-margin-top-9 govuk-!-margin-bottom-6">

     Current release -->


     <h2 class="govuk-heading-l" id="current-release">Recommendation builder</h2>
     <p class="govuk-body-l">These prototypes represent the new concept using the recommendation builder for the Health Assessment Service.</p>
     
     <h3 class="govuk-heading-m"><a href="recommendation-builder/assessments/index-recom-builder-assessments.html">Assessments</a></h3>

     <h3 class="govuk-heading-m"><a href="#">Reports (not started)</a></h3>

   



     

     <hr class="govuk-!-margin-top-9 govuk-!-margin-bottom-6">



      <h2 class="govuk-heading-l" id="current-release">Specification journeys (current) </h2>
      <p class="govuk-body-l">These prototypes represent the current journeys develop through the specification for the Health Assessment Service.</p>
      
      <h3 class="govuk-heading-m"><a href="spec-journeys/assessments/index-spec-assessments.html">Assessments using the specification</a></h3>

      <h3 class="govuk-heading-m"><a href="spec-journeys/reports/reports_templates/index_reports.html">Reports using the specification</a></h3>

    

 

      

      <hr class="govuk-!-margin-top-9 govuk-!-margin-bottom-6">

    </div>
  </div>
</div>

{% endblock %}
